


<html>
<meta name="viewport" content="width=device-width, initial-scale=0.3">
    <h1 style=color:red;font-size:1cm;font-family:roman;>Thank you for placing order</h1>
    
    <h1 style=color:red;font-size:3cm;text-align:center;font-family:Verdana;padding-bottom:-2cm;>INVOICE</h1>

    <hr>
    
    <table border="2pt" style="font-size:10pt;width:60%;padding:0.02in;margin:0.02in;text-align: center; font-family:'Times New Roman', Times, serif;" >
        <tr>
            <th style="font-family: roman;">ORDER ID</th>
            <th style="font-family: roman;">CUSTOMER DETAILS</th>
            <th style="font-family: roman;">PRICE</th>
            <th style="font-family: roman;">PRODUCT NAME</th>



        </tr>
        <tr>
            
            <td style="font-family: roman;">{{ono}}</td>
            <td style="font-family: roman;">{{email}}</td>
            <td style="font-family: roman;">{{price}}</td>
            <td style="font-family: roman;">{{typeofanimal}}</td>



        </tr>
    </table>
    
</html>
