{% extends "layout2.html" %}
{% block title %}
Staff info
{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
$('#forse').submit(function(e){
   e.preventDefault()
   $.get("http://127.0.0.1:8000/staffin",{}).done(function(data){

    $('#res').html(data)
    

   });


});
});






</script>
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.3">
   <title>Document</title>
</head>
<body>
   

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- CSS INDEX -->
<link rel="stylesheet" type="text/css" href="{%static 'css/staffinfo.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'css/products.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'css/home.css' %}">




<form class="example" id="forse">
 <h2 style="margin-left:2cm; font-size:1.6cm; font-family: 'Times New Roman', Times, serif; font-weight:bolder;">Click to view Data :</h2>
  <button type="submit" style="margin-left:16cm;padding-left:8cm; padding-right:8cm; margin-top:-1.8cm; border-radius:10px;"><i class="fa fa-search sea"></i></button>
</form>

<div class="container table accordion-header" style="width: 100%;margin-left:-0.2cm; margin-top:2cm;padding-bottom:2cm; " id="res">


<table class="" >


 </table>



</div>





<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>
{% endblock %}