
 
 /* -------------FONT LINKS------------------------------------------------------------------------ */
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');
 
 @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
 /* -----------------------------------------------------------------------------------------------*/
 
 
 
.navbar-an{
 float: right;
 padding-top: 1cm;
 padding-right:0cm;
   
   
}
.bt6{
    padding-right: 20px;
    padding-top: 0cm;
    
}

body{
    background-color:white;
    
}




.w{
    padding-top: 0cm;
    padding-right: 0cm;
    padding-left: 4cm;
    font-size: 17pc;
    font-weight: bold;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.btab{
    width: 100%;
    color: white;
}



.bs{
    padding-left: 11cm;
    padding-right: 11cm;
}
.ht{
    padding-left: 5.1cm;
}
.bt1{
    padding-left: 2cm;
}
.foot{
    color: white;
    
}
.para{
    font-size: 30px;
    align-content: center;
    padding-left: 2cm;
    padding-top: 1cm;
}
#pi{
    font-size: 87px;
    font-family: 'Merienda One', cursive;
}
#gre{
    font-size: 17px;
    font-family: 'Merienda One', cursive;
}